* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
/*Navigation Bar*/
  .nav {
    min-height: 52px;
    width: 100%;
    background-color: dodgerblue;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > a > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  .nav > .nav-links > div {
    float: right;
}
  .nav > .nav-links > div > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-links > div > a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: relative;
      display: block;
      width: 100%;
      background-color: dodgerblue;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > .nav-links > div {
        float: left;
    }
    .nav > .nav-links > div > a {
        display: block;
        width: 100%;
      }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
    }
  }
  .nav:after {
    content: "";
    display: table;
    clear: both;
    }
  /**/
  .footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: dodgerblue;
    color: white;
    text-align: center;
  }
/*Product Card*/
  .center-positioning{
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .center-positioning > a{
    text-decoration: none;
    color: black;
  }
    .wrap {
    transform-style: preserve-3d;
    transform: perspective(100rem);
    }
        .card{
          height: var(--h, 450px);
          width: var(--w, 350px);
          border-radius: 6px;
          overflow:hidden;
          box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.8);
          background-color: #fff;
          background-position: center center;
          box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.3);
          transform:  rotateX(calc(var(--rY,0) * 1deg)) rotateY(calc(var(--rX,0) * 1deg));
          transition: all 0.5s cubic-bezier(.79,.74,.91,1.2) 0.1s;
  
          display: flex;
          flex-direction: column;
          flex-wrap: no-wrap;
          justify-content: flex-start;
          align-items: center;
  
        }
          .card > .card-image{
            max-height: 200px;
            width: 100%;
            overflow: hidden;
          }
            .card > .card-image img{
              height: 100%;
              width: 100%;
              object-fit: fill;
            }
          .card > .card-body{
            max-height: 40%;
            padding: 10px 20px;
          }
          .card > .card-actions{
            max-height: 20%;
          }
            .card > .card-actions ul{
              list-style: none;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              width: 100%;
              margin: 0px;
              padding: 10px 5px;
            }
              .card > .card-actions ul li{
                padding: 5px 10px;
                margin: 3px 5px;
                border-radius: 4px;
                background-color: #555;
                color: #fff;
              }
              .card > .card-actions ul li:last-child{
                border-radius: 0px;
                background-color: transparent;
              }
                .card > .card-actions ul li a{
                  color: #fff;
                  text-decoration: none;
                }
                .card > .card-actions ul li:last-child a{
                  color: #555;
                  text-decoration: underline;
                }
        .card-active{
          transition:none;
          box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.3);
        }
